html {
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}
a,
p {
    font-size: 18px;
    color: #e5e7eb;
}
button {
    background-color: #3882f6;
    color: #f9faf8;
}
header {
    display: flex;
    justify-content: space-between;
    margin-top: -50px;
    margin-bottom: 50px;
}
button {
    padding: 10px 30px 10px 30px;
    border-radius: 8px;
    border-color: transparent;
}
.logo {
    margin-right: auto;
    font-size: 24px;
    color: #f9faf8;
    flex: 1;
}
.navbar {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
.dark-background {
    background-color: #1f2937;
    width: auto;
    margin: -8px -8px 0px -8px;
    padding: 90px 90px 90px 90px;
}
.head-content {
    display: flex;
    justify-content: space-between;
    gap: 10%;
}
.container {
    width: 50%;
    flex: 1;
}
.placeholder {
    width: 55%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #989898;
    flex: 2;
}