html {
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0px;
    line-height: 1;
}
a,
p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 10px 0px 10px 0px;
}
button {
    background-color: #3882f6;
    color: #f9faf8;
}
header {
    display: flex;
    justify-content: space-between;
    margin-top: -60px;
    margin-bottom: 50px;
}
button {
    padding: 10px 30px 10px 30px;
    border-radius: 8px;
    border-color: transparent;
}
.logo {
    margin-right: auto;
    font-size: 24px;
    color: #f9faf8;
    flex: 1;
}
.navbar {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
.dark-background {
    background-color: #1f2937;
    width: auto;
    margin: -8px -8px 0px -8px;
    padding: 90px 90px 90px 90px;
}
.head-content {
    display: flex;
    justify-content: space-between;
    gap: 10%;
}
.container {
    width: 50%;
    flex: 1;
}
.placeholder {
    width: 55%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #989898;
    flex: 2;
}
.section2 {
    width: auto;
    padding: 30px 90px 90px 90px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}
h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin-bottom: 50px;
}
.flexbox {
    display: flex;
    justify-content: space-around;
    width: 80%;
}
.flex-item {
    width: 20%;
}
.flex-item p {
    font-size: 18px;
    color: #1f2937;
    margin: 10px 0px 10px 0px;
}
.flexbox .image {
    border: 4px solid #3882f6;
    border-radius: 10px;
    height: 200px;
}
.section3 {
    background-color: #e5e7eb;
    width: auto;
    padding: 90px 90px 90px 90px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}
.section3 div {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}
.section3 p {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
}
.section3 .author {
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    margin-left: auto;
    width: auto;
}